<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">

    <testsuites>
        <testsuite name="Entities">
            <directory>tests/Entities</directory>
        </testsuite>
        <testsuite name="Models">
            <directory>tests/Models</directory>
        </testsuite>
        <testsuite name="Controllers">
            <directory>tests/Controllers</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>Controllers</directory>
            <directory>Core</directory>
            <directory>Entities</directory>
            <directory>Models</directory>
        </include>
    </source>

</phpunit>