@use '../utils/mixins';

.footer{
    ul {
        text-align: center;
        a{
            font-size: 1.5em;
        }
    }

    p {
        text-align: center;
    }

    .social-footer {
        @include mixins.flex-row(row, center, center);
        gap: 5%;
        @include mixins.desktop{ gap: 2%}
    }
}