@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  flex: 1 1 auto;
}
.header h1 > a {
  color: #97004f;
}

.footer {
  position: relative;
  bottom: 0;
}
@media only screen and (min-width: 1024px) {
  .footer {
    position: fixed;
    left: 0;
    right: 0;
  }
}
.footer ul {
  text-align: center;
}
.footer ul a {
  font-size: 1.5em;
}
.footer p {
  text-align: center;
}
.footer .social-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1%;
}

nav:has(.nav-header) {
  flex: 1;
  display: none;
}
@media only screen and (min-width: 1024px) {
  nav:has(.nav-header) {
    display: block;
  }
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-header li::after {
  content: "";
  display: block;
  border-bottom: 3px solid #97004f;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.nav-header li:hover::after {
  transform: scaleX(1);
}

.header__burger {
  width: 5.5%;
  height: 5.5%;
  position: relative;
  z-index: 999;
  transition: transform 0.5s;
}
@media only screen and (min-width: 576px) {
  .header__burger {
    transform: translateX(0%);
    width: 4.5%;
  }
}
@media only screen and (min-width: 1024px) {
  .header__burger {
    display: none;
  }
}
.header__burger-position {
  position: absolute;
  top: 15.4%;
  right: 0%;
}
@media only screen and (min-width: 576px) {
  .header__burger-position {
    position: initial;
  }
}
.header__burger span {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  background-color: #97004f;
  width: 100%;
  height: 0.15em;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.5s;
}
.header__burger span::before, .header__burger span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-6px);
  display: block;
  width: 100%;
  height: 0.15em;
  background-color: #97004f;
  transform-origin: 50% 50%;
  transition: background 0.5s, transform 0.5s;
}
@media only screen and (min-width: 576px) {
  .header__burger span::before, .header__burger span::after {
    transform: translateY(-8px);
  }
}
.header__burger span::after {
  transform: translateY(6px);
}
@media only screen and (min-width: 576px) {
  .header__burger span::after {
    transform: translateY(8px);
  }
}
.header__burger.burger span {
  background-color: transparent;
}
.header__burger.burger span::before, .header__burger.burger span::after {
  background-color: #97004f;
}
.header__burger.burger span::before {
  transform: rotate(-45deg) translateY(0);
}
.header__burger.burger span::after {
  transform: rotate(45deg) translateY(0);
}

.presentation {
  margin: 8% 0;
}
@media only screen and (min-width: 1024px) {
  .presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.name-style {
  flex: 1 0 50%;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.name-style .name {
  text-transform: uppercase;
  font-size: 3.5rem;
}
.name-style .work {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}
.name-style .work span {
  color: #97004f;
}

.text-style {
  line-height: 2em;
}
.text-style span {
  font-size: 2em;
  line-height: 2em;
  color: #97004f;
}

.production-container {
  display: grid;
}

.form-contact {
  width: 100%;
  margin: 8% auto;
}
@media only screen and (min-width: 576px) {
  .form-contact {
    width: 80%;
  }
}
.form-contact h1 {
  margin-bottom: 3%;
}
.form-contact .flex-form {
  margin-top: 1%;
  gap: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.form-contact .flex-form :last-child {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .form-contact .flex-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .form-contact .flex-form :first-child, .form-contact .flex-form :last-child {
    flex: 0 1 50%;
  }
}
.form-contact input:not(.btn), .form-contact textarea {
  display: inline-block;
  padding: 2%;
  width: 100%;
  background-color: #292929;
  margin-bottom: 4%;
  border-radius: 5px;
  border: none;
}
.form-contact .btn {
  display: block;
  width: 80%;
  margin: 0 auto;
  background-color: #292929;
  color: #97004f;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.7em 0.4em 0.7em 0.4em;
}
@media only screen and (min-width: 576px) {
  .form-contact .btn {
    width: 20%;
  }
}
@media only screen and (min-width: 1024px) {
  .form-contact .btn {
    width: 15%;
  }
}

* {
  box-sizing: border-box;
  color: #b6b6b6;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

html, body {
  height: 100vh;
}

body {
  background-color: #131212;
  padding: 0 15px;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

img {
  height: auto;
  width: 100%;
  max-width: 100%;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */