// Règles globales
@use '../utils/variables' as color ;

*{
    box-sizing: border-box;
    color: color.$color_font;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

html, body{
    height: 100vh;
}

body{
    background-color: color.$color_bg;
    padding: 0 15px;
}

.wrapper{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

img {
    height: auto;
    width: 100%;
    max-width: 100%;
}

ul{
    padding-left: 0;
}
li{
    list-style-type: none;
}

a{
    text-decoration: none;
}