// Règles globales
*{
    box-sizing: border-box;
    color: white;
}

body{
    color: #131212;
}

.wrapper{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}