
@mixin tablet{
    @media only screen and (min-width: 576px){
        @content;
    }
}

@mixin desktop{
    @media only screen and (min-width: 1024px){
        @content;
    }
}

@mixin flex-row($direction, $justifyContent, $alignItems){
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;

}

@mixin transition(){
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}