// Menu de navigation
@use '../utils/mixins';
@use '../utils/variables' as color ;


.header__burger{
    width: 5.5%;
    height: 5.5%;
    position: relative;
    z-index: 999;
    transition: transform .5s;
    z-index: 999; 
    
    @include mixins.tablet{
      transform: translateX(0%);
      width: 4.5%;
    }

    @include mixins.desktop{
        display: none;
    }

    &-position{
        position: absolute;
        top: 15.4%;
        right: 0%;
        @include mixins.tablet{
            position: initial;
        }
    }
    
    span{
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        background-color: color.$color_pink;
        width: 65%;
        height: .15em;
        transform: rotate(180deg);
        transform: translateX(-50%) translateY(-50%);
        @include mixins.transition;
        &::before, &::after{
            content: "";
            position: absolute;
            top:0;
            left: 0;
            transform: translateY(-6px);
            display: block;
            width: 150%;
            height: .15em;
            background-color: color.$color_pink;
            transform-origin: 50% 50%;
            transition: background .5s, transform .5s;
            @include mixins.tablet{
                transform: translateY(-8px);
            }
        }
 
        &::after{
            transform: translateY(6px);
            @include mixins.tablet{
                transform: translateY(8px);
            }
        }
    }
    
    &.burger{
        span{
        background-color: transparent;
        }
        span::before, span::after{
            background-color: color.$color_pink;
        }
        span::before{
            transform: rotate(-45deg) translateY(0);
        }
        span::after{
            transform: rotate(45deg) translateY(0);
        }
    }
} 
