// Menu de navigation
@use '../utils/mixins';
@use '../utils/variables' as color ;

nav:has(.nav-header) {
    flex: 1;
}

.nav-header {
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    z-index: -1;
    background-color: color.$color_bg;
    transition: .5s;
    @include mixins.flex-row(column, center, center);
    gap: 4%;
    li::after{
        content: '';
        display: block;
      
    }
   
    li a {
        display: block;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: .5em;
    }

    @include mixins.desktop() {
       
        position: initial;
        height: initial;
        @include mixins.flex-row(row, space-between, center);
        opacity: 1;

        li a {
            font-size: initial;
            display: initial;
            text-transform: inherit;
            letter-spacing: 0;
        }

        li::after{
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
            border-bottom: 3px solid color.$color_pink;
        }
        
        li:hover::after{
        transform: scaleX(1);
        }  
    }
}

// Menu de navigation admin
.nav_admin{
    
    .nav-header{
        justify-content: center;
        @include mixins.desktop{
            justify-content: flex-end;
        }
    }

    .under_menu{
        position: relative;
            .hide_nav {
                padding: 5% 0 5% 0;
                position: absolute;
                top: 100%;
                left: 0;
                li {           
                    opacity: 0;
                    margin-bottom: 5%;
                    font-size: .9rem;
                    transition: .5s;
                }
            }
        }
        .under_menu:hover  .hide_nav  li{
        opacity: 1;
    }
}
    

.show-menu{
    opacity: 1;
    z-index: 998;
}

.unScroll{
    overflow-y: hidden;
}
