@use '../utils/mixins';
@use '../utils/variables' as color ;

.presentation {
    @include mixins.desktop{
        @include mixins.flex-row(row, space-between, center);
    }
    margin: 8% 0;
}

.name-style {
    flex: 1 0 50%;
    font-size: 2em;
    // Centre l'identité
    @include mixins.flex-row(column, start, center);
    @include mixins.tablet{
        font-size: 4em;
    }

    .name {
        text-transform: uppercase;
        font-size: 1.75rem;
        @include mixins.tablet{
            font-size: 3.5rem;
        }
    }

    .work{
        font-size: 1.15rem;
        text-transform: uppercase;
        letter-spacing: .5em;
        & span {
            color: color.$color_pink;
        }
        @include mixins.tablet{
            font-size: 1.72rem;
        }
    }
}

.text-style {
    margin: 10% 0;
    line-height: 2em;
    & span{
        display: block;
        text-align: center;
        font-size: 1.5em;
        color: color.$color_pink;
        @include mixins.desktop{
            font-size: 2rem;
            display: inline-block;
        }
    }

    @include mixins.tablet{
        width: 80%;
        margin: 10% auto;
    }

    @include mixins.desktop{
       margin: 0;
    }
    
}

