@use '../utils/mixins';
@use '../utils/variables' as color ;

.form-contact {

    width: 100%;
    @include mixins.tablet{ width: 80%; }
   
    margin:5% auto;
    & h1 { margin-bottom: 3%; }
}

.inputForm{
    position: relative;
    display: inline-block;
    padding: 2%;
    width: 100%;
    background-color: color.$color_input;
    margin-bottom: 4%;
    border-radius: 5px;
    border: 1px solid transparent;
}


input.validate{
    border: 1px solid #094709;
  }

input.error{
    border: 1px solid #6d0f0f;
}

