@use '../utils/mixins';
@use '../utils/variables' as color ;


.form-admin{
    width: 100%;
    @include mixins.tablet{ width: 80%;}
    @include mixins.desktop{ width: 80%;}

    margin: 8% auto;

    & h1 { margin-bottom: 8%;
        @include mixins.desktop{ margin-bottom: 3%;} 
    }

    .inputForm{
        padding: 2%;
        @include mixins.desktop{ padding: 1.25%;}
    }

    .langages{
        @include mixins.flex-row(column, space-around, start);

        @include mixins.tablet{
            @include mixins.flex-row(row, space-around, center);
        }

        margin-bottom: 5%;
    }

    .btnForm{
        margin-top: 10%;
        @include mixins.tablet{ margin-top: initial;}
    }
}