@use '../utils/mixins';
@use '../utils/variables' as color ;


body{
    position: relative;
    @include mixins.tablet{
        position: initial;
    }
   
}

.realisation-container{
    width: 100%;
    margin: 5% auto;
    h1{
        margin-bottom: 5%;
    }
    @include mixins.tablet {
        width: 80%;
        h1{
            margin-bottom: 3%;
        }
    }
}

.project-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    @include mixins.tablet{
        width: 100%;
        margin: 0 auto;
        position: inherit;
    }
    
    .img-project {
        max-width: 80%;
        border-radius: 5px;
        padding: 1% 1% 0 1%;
        background-color: rgb(24, 24, 24);
        @include mixins.tablet{
            max-width: 30%;
        }
        @include mixins.desktop{
            max-width: 20%;
        }

        .content-realisation {
            opacity: 0;
            transition: 1s;
            bottom: 0;
            left: 0;
            top: 0;
            width: 100%;
            z-index:-1;
            text-align: center;
            height: 100%;
            background: linear-gradient(to top,  rgba(0, 0, 0, 0.8) 90%, transparent);
            // Absolue au body afin de centrer sur la fenetre
            position: absolute;
            border-radius: 10px;
            div:first-child{
                width: 80%;
                text-align: center;
                position: fixed;
                top: 0;
                left: 0;
                margin-top: 35vh; /* poussé de la moitié de hauteur de viewport */
                transform: translateY(-50%); 
                transform: translateX(12%); 
               
            }
    
            & p {
                font-size: .9em;
                line-height: 1.5em;
                color: color.$color_font;
                @include mixins.desktop{
                    padding: 5% 5% 0 5%;
                }   
            }
    
            p, p+a {
                display: none;
            }
    
            & a{
                display: block;
                width: 80%;
                margin: 5% auto;
                padding: .5em;
                border: none;
                background-color: color.$color_bg;
                color: color.$color_pink;
                border-radius: 5px;
                transition: 1s;
                &:hover{
                    background-color: color.$color_bg;
                    color: color.$color_font;
                }
    
                @include mixins.tablet{
                    width: 60%;
                }
                @include mixins.desktop{
                    width: 40%;
                }
            }
       }

        &:hover > .content-realisation {
            opacity: 1;
            z-index: 9999;
          
            transition: 1s;
        

         

            p, p+a{
                display: block;
            }
        }

        img{
            border-radius: 5px;
        }

        & div:nth-child(3) {
            border-radius: 5px;
            padding: 2% 0 3% 0;
            @include mixins.flex-row(row, space-around, center );
            i {
                font-size: 1em;
                @include mixins.desktop{
                    font-size: 2rem;
                }
            }
        }

        .btn-realisation{
          
            @include mixins.desktop{
                display: none;
            }
        
            .btnForm{
                margin: 0 auto 3%;
                padding: 1%;
            }
        }
    }  
}

.quote{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    @include mixins.tablet{
        width: 80%;
    }
    @include mixins.desktop{
        width: 50%;
    }
    p{
        line-height: 1.5em;
        font-style: italic;
        &::before, &::after{
            content: " \0022";
            font-size: 2rem;
            color: color.$color_pink;
            vertical-align: -20%;
        }
    }

    
}
.title-realisation {
    text-align: center;
    font-size: 1em;
    color: color.$color_pink;
}

