@use '../utils/mixins';
@use '../utils/variables' as color ;

.update-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    img{
        width: 30%;
        margin-bottom: 8%;
        align-self: center;
        justify-content: center;
        // display: inline;
        @include mixins.tablet{
          align-self: initial;
          width: 25%;
        }
        @include mixins.desktop{
          margin-bottom: 2%;
          width: 10%;
        }
    }  
}